<div class="row">
    <div class="md-form col-md-6">
        <input mdbInput type="text" [(ngModel)]="amount" id="form1" class="form-control">
        <label for="form1" class="">Cantidad</label>
    </div>
    <div class="md-form col-md-6">
        <input mdbInput type="text" [(ngModel)]="gender" id="form1" class="form-control">
        <label for="form1" class="">Genero</label>
    </div>
    <button mdbBtn type="button" color="default" block="true" mdbWavesEffect (click)="onDefine()">Obtener usuarios</button>
</div>
<br>

<div *ngIf="users; else nothing">
    <app-user-list [user$]="users"></app-user-list>
</div>

<ng-template #nothing>
    <p class="lead">No hay nada que mostrar.</p>
</ng-template>
