<div class="jumbotron">
        <img src="https://avatars0.githubusercontent.com/u/40268531?v=4" class="z-depth-1">
        <br>
        <br>
        <h2>Ronel Pantaleón A.</h2>
        <p class="lead">Software developer</p>
        <p class="lead">+1 (809)-654-3535</p>
        <p class="lead">Follow me on:</p>
        
        
        <button type="button" mdbBtn color="indigo" class="waves-light" mdbWavesEffect>
            <a href="https://www.facebook.com/ronelpanag" style="color: white">
                <i class="fab fa-facebook-f left"></i>
                Facebook
            </a>
        </button>
        
        <button type="button" mdbBtn color="danger" class="waves-light" mdbWavesEffect>
            <a href="https://www.instagram.com/ronelpanag_/" style="color: white">
                <i class="fab fa-instagram left"></i>
                Instagram
            </a>
        </button>
        
        <button type="button" mdbBtn color="elegant" class="waves-light" mdbWavesEffect>
            <a href="https://github.com/ronelpanag" style="color: white">
                <i class="fab fa-github left"></i>
                Github
            </a>
        </button>
        
        <button type="button" mdbBtn color="primary" class="waves-light" mdbWavesEffect>
            <a href="https://www.linkedin.com/in/ronel-pantale%C3%B3n-agramonte-98562015b/" style="color: white">
                <i class="fab fa-linkedin-in left"></i>
                Linkedin
            </a>
        </button>
        <button type="button" mdbBtn color="light" class="waves-light" mdbWavesEffect>
            <a href="mailto:ronelpanag08@gmail.com" style="color: black">
                <i class="fas fa-envelope left"></i>
                Email
            </a>
        </button>
        
        <br>
</div>